.postDetails{
  
}

.post__description {
    margin-bottom: 20px;
}

.post__howToSteps{
    margin-bottom: 20px;
}

.post__video_tutorial{
    margin-bottom: 20px;
}

.post__difficulty_level{
    margin-bottom: 20px;
}

.post__comments{
    margin-bottom: 20px;
}

